<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <span>
        <ion-icon name="home-outline"></ion-icon>
      </span>
    </ion-tab-button>

    <ion-tab-button tab="records">
      <span>
        <ion-icon name="cash-outline"></ion-icon>
      </span>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <span>
        <ion-icon name="calendar-outline"></ion-icon>
      </span>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <span>
        <ion-icon name="notifications-outline"></ion-icon>
      </span>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
